.container {
   display: flex;
   align-content: stretch;
   justify-content: center;
   align-items: center;
   margin-top:45px;
    
}

.img1 {
    float:right;
}

.img2 {
    float:left;
}

.img3 {
    float:right;
}

.img4 {
    float:inline-start;
}

.img5 {
    float:inline-end;
}
